<article (scroll)="onScroll($event)">


    <mat-drawer-container class="example-container">
        <!-- <mat-drawer #drawer position="start" fxFlex="20" fxLayout="column" fxLayoutAlign="start space-between"
            [style.marginTop.px]="10" [style.top.px]="sideBarScroll()">
            <mat-list role="list" class="list-width" *ngFor="let i of [].constructor(20)">
                <mat-list-item role="listitem" class="list-item" matRipple>Side Bar Item List</mat-list-item>
            </mat-list>
        </mat-drawer> -->
        <!-- <p>Test</p> -->

        <!-- <mat-button>Add New Post</mat-button> -->
        <mat-drawer-content>
            <div class="example-sidenav-content" fxLayout="row wrap" fxLayout.xs="column"
                fxLayoutAlign="space-evenly center">

                <div class="row" style="padding-bottom: 30px;">
                    <div class="col-12" style="height: 20px;" (click)="addNewPost()">
                        <button mat-raised-button color="warn" style="margin-bottom: 6px;">Add New Post </button>
                        <!-- <mat-form-field appearance="outline">
                            <mat-label>Add New Post</mat-label> -->
                            <input type="text" class="custom-mat-input" placeholder="What's on your mind?">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                        <!-- </mat-form-field> -->
                    </div>
                 
                </div>

                <mat-card class="example-card" *ngFor="let post of AllPostsWithImgUrl">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image" fxLayoutAlign.xs="center center"></div>
                        <mat-card-title style="padding-top: 7px;">{{post.userName | titlecase}}</mat-card-title>
                        <!-- <mat-card-subtitle>garg</mat-card-subtitle> -->
                    </mat-card-header>
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" -->
                    <img *ngIf="post.postImageId.length>0" [src]="post.postImageUrl"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            {{post.postCaption}}
                        </p>
                    </mat-card-content>
                    <mat-divider></mat-divider>

                    <div class="row" style="text-align: center">
                        <div class="col-6">
                            <mat-icon style="color: blue; margin-right: 5px;padding-top: 9px; font-size:medium;"
                                (click)="seeAllLikes(post.postId.toString())">thumb_up</mat-icon>
                            <!--  -->
                        </div>
                        <div class="col-6">
                            <mat-icon style="color: blue; margin-right: 5px;padding-top: 9px; font-size:medium;"
                                (click)="seeAllComments(post.postId.toString())">speaker_notes</mat-icon>

                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row">
                        <div class="col-6" style="text-align: center;">
                            <mat-chip-listbox aria-label="Fish selection" (click)="likeClicked(post.postId)">

                                <mat-chip-option *ngIf="!containsName(post.like)" style="padding: 10px; ">
                                    <mat-icon
                                        style="padding-right: 6px; font-size: 20px; padding-top: 6px;">thumb_up</mat-icon>
                                    <span style="padding-top: 6px; margin: 6px; margin-bottom: 50px;">Like</span>
                                </mat-chip-option>

                                <mat-chip-option *ngIf="containsName(post.like)" selected style="padding: 10px;">
                                    <mat-icon
                                        style="padding-right: 6px; font-size: 20px; padding-top: 6px;">thumb_up</mat-icon>
                                    <span style="padding-top: 6px; margin: 6px; margin-bottom: 50px;">Like</span>
                                </mat-chip-option>
                            </mat-chip-listbox>
                        </div>


                        <div class="col-6">
                            <button mat-button (click)="setComment(post)">
                                <mat-icon>comment</mat-icon>
                                Comment</button>
                        </div>
                    </div>


                    <!-- </mat-card-actions> -->
                </mat-card>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</article>