<!-- <div class="col-3"> -->
    <div class="card sticky" style="width: 24rem; overflow: hidden; overflow: auto; padding-top: 60px; text-align: center;">
        <div class="container">
            <!-- <img src="../../assets/socialmedia.jpg" class="card-img-top" alt="..." -->
            <img [src]="cuImageUrl" class="card-img-top" alt="..."
                style="border-radius: 150px; height: 260px; width: 260px;">

        </div>
        <div class="card-body">
            <h5 class="card-title">{{cufullname | titlecase}}</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Works at {{cudescription | titlecase}}</li>
                    <!-- <li class="list-group-item">Lives in Mumbai</li> -->

                </ul>
            </li>

            <li class="list-group-item">{{cufriendscount}} Connections</li>
            <li class="list-group-item">{{cupostcount}} Posts</li>
        </ul>
        <!-- <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div> -->
    </div>

<!-- </div> -->